{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Bergungsgruppe mit Abstützsystem Holz' %}
{% set name='B' %}
{% set type='ASH' %}
{% set unit_size='Gruppe' %}
