{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Bergungsgruppe mit Einsatzgerüstsystem' %}
{% set name='B' %}
{% set type='EGS' %}
{% set unit_size='Gruppe' %}
