{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Fachzug Führung/Kommunikation' %}
{% set name='FZ FK' %}
{% set unit_size='Zug' %}
