{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachzug Logistik' %}
{% set name='FZ Log' %}
{% set unit_size='Zug' %}
{% set is_logistics=true %}
