{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachgruppe Ortung - Biologisch und Technisch' %}
{% set name='O' %}
{% set type='A' %}
{% set unit_size='Gruppe' %}
