{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Fachgruppe Infrastruktur' %}
{% set name='I' %}
{% set unit_size='Gruppe' %}
