{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachgruppe Trinkwasserversorgung' %}
{% set name='TW' %}
{% set unit_size='Gruppe' %}
