{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Fachgruppe Räumen Typ A' %}
{% set name='R' %}
{% set type='A' %}
{% set unit_size='Gruppe' %}
