{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachgruppe Bergungstauchen' %}
{% set name='BT' %}
{% set unit_size='Gruppe' %}
