{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachgruppe Notversorgung und Notinstandsetzung' %}
{% set name='N' %}
{% set unit_size='Gruppe' %}
