{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Fachgruppe Sprengen' %}
{% set name='Sp' %}
{% set unit_size='Gruppe' %}
