{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Fachgruppe Wasserschaden/Pumpen Typ B' %}
{% set name='WP' %}
{% set type='B' %}
{% set unit_size='Gruppe' %}
