{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Fachgruppe Führungsunterstützung' %}
{% set name='F' %}
{% set unit_size='Gruppe' %}
{% set is_leading=true %}
