{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachgruppe Elektroversorgung' %}
{% set name='E' %}
{% set unit_size='Gruppe' %}
