{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachgruppe Ölschaden Typ C' %}
{% set name='Öl' %}
{% set type='C' %}
{% set unit_size='Gruppe' %}
