{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachgruppe Schwere Bergung Typ B' %}
{% set name='SB' %}
{% set type='B' %}
{% set unit_size='Gruppe' %}
