{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachgruppe Logistik-Materialwirtschaft – Materialerhaltungstrupp' %}
{% set name='Log-M' %}
{% set unit_size='Trupp' %}
{% set is_logistics=true %}
