{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Fachgruppe Logistik-Materialwirtschaft' %}
{% set name='Log-MW' %}
{% set unit_size='Gruppe' %}
{% set is_logistics=true %}
