{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Schnell-Einsatz-Einheit Wasser Ausland' %}
{% set name='SEEWA' %}
{% set unit_size='Zug' %}
