{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Trupp Schwerer Transport' %}
{% set name='TS' %}
{% set unit_size='Trupp' %}
{% set is_logistics=true %}
