{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Virtual Operations Support Team' %}
{% set name='VOST' %}
{% set unit_size='Zug' %}
