{% extends "templates/person.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import scheme with context %}

{% set title='Rettungsrobotik Flugleiter' %}
{% set name='RettR' %}
{% set subtext='Flugleiter' %}
{% set unit_size='Staffel' %}
