{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Gruppe Hochwasserschutz' %}
{% set name='HWS' %}
{% set type='ÖGA' %}
{% set unit_size='Gruppe' %}
