{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Trupp Eigentumssicherung' %}
{% set name='ETS' %}
{% set type='ÖGA' %}
{% set unit_size='Trupp' %}
