{% extends "templates/einheit.j2t" %}
{% from "templates/constants/kats.j2t" import scheme with context %}

{% set title='Dekontaminierungsbereitschaft Verletzte 50' %}
{% set unit_size='Verband 1' %}
{% set type='V-50' %}

{% block symbol %}
	{{ super() }}

	<path d="M104,103 l50,50 M152,103 l-50,50" stroke-width="8" stroke="{{ scheme.colorSecondary }}" fill="none" />
	<path d="M108,157 L98,157 L98,147 Z" fill="{{ scheme.colorSecondary }}" />
	<path d="M148,157 L158,157 L158,147 Z" fill="{{ scheme.colorSecondary }}" />
	<ellipse cx="104" cy="110" rx="10" ry="10" fill="{{ scheme.colorSecondary }}" />
	<ellipse cx="152" cy="110" rx="10" ry="10" fill="{{ scheme.colorSecondary }}" />
	<ellipse cx="128" cy="128" rx="45" ry="45" fill="none" stroke="{{ scheme.colorSecondary }}" stroke-width="2" />
{% endblock %}
