{% extends "templates/einheit.j2t" %}
{% from "templates/constants/kats.j2t" import scheme with context %}

{% set title='Messzug Überörtliche Messhilfe 2' %}
{% set unit_size='Zug' %}
{% set type='ÜM2' %}

{% block symbol %}
	{{ super() }}

	<path d="M15,187 L241,69" stroke-width="5" stroke="{{ scheme.colorSecondary }}" fill="none" />
	<path d="M88 92 L188 164 M168 92 L68 164" stroke="{{ scheme.colorSecondary }}" stroke-width="10" fill="none" />
	<ellipse cx="78" cy="102" rx="20" ry="20" fill="{{ scheme.colorSecondary }}" />
	<ellipse cx="178" cy="102" rx="20" ry="20" fill="{{ scheme.colorSecondary }}" />
{% endblock %}
