{% extends "templates/stelle.j2t" %}
{% import "templates/constants/keywords.j2t" as kw %}

{% set title='Behandlungsplatz' %}
{% set keywords=kw.rettungswesen %}

{% block symbol %}
	{{ super() }}

	<path d="M128,64 l0,128 M64,128 l128,0" stroke="#000000" fill="none" stroke-width="5" />
{% endblock %}
