{% extends "templates/stelle.j2t" %}
{% from "templates/constants/führung.j2t" import scheme with context %}
{% import "templates/constants/keywords.j2t" as kw %}

{% set title='Bereitstellungsraum' %}
{% set keywords=kw.fahrzeug %}

{% block symbol %}
	{{ super() }}

	<path d="M85,105 L85,151 L171,151 L171,105 Q128,128 85,105 Z" stroke="{{ scheme.colorSecondary }}" fill="none" stroke-width="5" />
{% endblock %}
