{% extends "templates/stelle.j2t" %}
{% from "templates/constants/führung.j2t" import scheme with context %}

{% set title='Bereitstellungsraum mit Führungsstelle' %}

{% block symbol %}
	{{ super() }}

	<path d="M85,105 L85,151 L171,151 L171,105 Q128,128 85,105 Z" stroke="{{ scheme.colorSecondary }}" fill="none" stroke-width="5" />
	<rect x="111" y="80" width="34" height="18" stroke="{{ scheme.colorSecondary }}" fill="none" stroke-width="3" />
	<line x1="111" y1="98" x2="111" y2="108" stroke="{{ scheme.colorSecondary }}" stroke-width="3" />
{% endblock %}
