{% extends "templates/stelle.j2t" %}

{% set title='Betreuungsstelle' %}
{% set keywords=['Betreuung'] %}

{% set is_stationary=true %}

{% block symbol %}
	{{ super() }}

	<path d="M128,64 l51,102 M128,64 l-51,102" stroke="#000000" fill="none" stroke-width="5" />
{% endblock %}
