{% extends "templates/stelle.j2t" %}

{% set title='Dekontaminationsplatz' %}

{% block symbol %}
	{{ super() }}

	<path d="M104,103 l50,50 M152,103 l-50,50" stroke-width="8" stroke="#000000" fill="none" />
	<path d="M108,157 L98,157 L98,147 Z" fill="#000000" />
	<path d="M148,157 L158,157 L158,147 Z" fill="#000000" />
	<ellipse cx="104" cy="110" rx="10" ry="10" fill="#000000" />
	<ellipse cx="152" cy="110" rx="10" ry="10" fill="#000000" />
{% endblock %}
