{% extends "templates/stelle.j2t" %}
{% from "templates/constants/führung.j2t" import theme with context %}

{% set title='Feuerwehr Einsatzzentrale' %}
{% set name='FEZ' %}
{% set is_leading=true %}
{% set is_stationary=true %}
