{% extends "templates/stelle.j2t" %}

{% set title='Sammelstelle' %}
{% set keywords=['Sammeln','Pfeil','Kreis'] %}

{% block symbol %}
	{{ super() }}

	<circle cx="170" cy="128" r="10" fill="#FFFFFF" stroke="#000000" stroke-width="3" />
	<path d="M76,128 l78,0 m-15,-15 l15,15 l-15,15" fill="none" stroke="#000000" stroke-width="3" />
{% endblock %}
