{% extends "templates/stelle.j2t" %}

{% set title='Stelle Raumordnung' %}

{% block symbol %}
	{{ super() }}

	<path d="M120,76 l54,78 l-92,0 l54,-78" stroke="#000000" fill="none" stroke-width="5" />
{% endblock %}
