{% extends "templates/stelle.j2t" %}
{% import "templates/constants/keywords.j2t" as kw %}

{% set title='Stelle Sanität' %}
{% set keywords=kw.einheit+kw.rettungswesen %}

{% block symbol %}
	{{ super() }}

	<rect x="80" y="104" width="96" height="48" fill="none" stroke="#000000" stroke-width="5"/>
	<path d="M128,104 l0,48 M80,128 l96,0" fill="none" stroke="#000000" stroke-width="5" />
{% endblock %}
