{% extends "templates/stelle.j2t" %}

{% set title='Stelle Feldlager Belegung' %}
{% set keywords=['Bett'] %}

{% set subtext='Belegung' %}

{% block symbol %}
	{{ super() }}

	<path d="M88 128 L168 128 M168 110 L168 145 M88 110 L88 145 M 88 127 A 42 23, 0, 0 1, 168 127" stroke-width="3" style="stroke:black; fill:#FFFFFF" />
{% endblock %}
