{% extends "templates/stelle.j2t" %}

{% set title='Stelle Elektroversorgung' %}

{% block symbol %}
	{{ super() }}

	<path d="M128 128 m-2 -40 l10 0 l-15 35 l30 -10 l-25 55 l15 -5 l-20 15 l-5 -20 l7 9 l15 -40 l-30 10z" fill="#000000" stroke="none" />
{% endblock %}
