{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Anhänger Richtfunk' %}
{% set name='RiFu' %}
{% set vehicle_type='Anh' %}
