{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Anhänger Infrastruktur 2t' %}
{% set name='I' %}
{% set type='2 t' %}
{% set vehicle_type='Anh' %}
