{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Anhänger Tieflader 18t' %}
{% set name='Tiefl' %}
{% set type='18 t' %}
{% set vehicle_type='Anh' %}
