{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Spülanhänger' %}
{% set name='Spül' %}
{% set vehicle_type='Anh' %}
