{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Anhänger Ortung (B) 2t' %}
{% set name='O' %}
{% set type='B, 2 t' %}
{% set vehicle_type='Anh' %}
