{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Anhänger Schmutzwasserpumpe 5.000 l/min' %}
{% set name='SwPu' %}
{% set type='5.000 l/min' %}
{% set vehicle_type='Anh' %}
