{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Netzersatzanlage 650 kVA' %}
{% set name='NEA' %}
{% set type='650 kVA' %}
{% set vehicle_type='Anh' %}
