{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Anhänger Rettungshunde' %}
{% set name='RettH' %}
{% set vehicle_type='Anh' %}
