{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Anhänger Schmutzwasserpumpe 25.000 l/min' %}
{% set name='SwPu' %}
{% set type='25.000 l/min' %}
{% set vehicle_type='Anh' %}
