{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Anhänger 2t' %}
{% set type='2 t' %}
{% set vehicle_type='Anh' %}
