{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Anhänger Führung und Lage' %}
{% set name='FüLa' %}
{% set vehicle_type='Anh' %}
