{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Werkstattanhänger' %}
{% set name='Wks' %}
{% set vehicle_type='Anh' %}
