{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Netzersatzanlage 200 kVA' %}
{% set name='NEA' %}
{% set type='200 kVA' %}
{% set vehicle_type='Anh' %}
