{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Anhänger Schlauchboot' %}
{% set name='SchlB' %}
{% set vehicle_type='Anh' %}
