{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Kühlanhänger' %}
{% set name='Kühl' %}
{% set vehicle_type='Anh' %}
