{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Plattformanhänger 12 t' %}
{% set name='PF' %}
{% set type='12 t' %}
{% set vehicle_type='Anh' %}
