{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Anhänger Wechselbrücke 15t' %}
{% set name='WB' %}
{% set type='15 t' %}
{% set vehicle_type='Anh' %}
