{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Anhänger 0,5t' %}
{% set type='0,5 t' %}
{% set vehicle_type='Anh' %}
