{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Anhänger Kommunikation 1t' %}
{% set name='K' %}
{% set type='1 t' %}
{% set vehicle_type='Anh' %}
