{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Anhänger 7t' %}
{% set type='7 t' %}
{% set vehicle_type='Anh' %}
