{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Anhänger Mehrzweckboot' %}
{% set name='MzB' %}
{% set vehicle_type='Anh' %}
