{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Container Werkstatt' %}
{% set name='Wks' %}
{% set vehicle_type='Container' %}
