{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Container BDF' %}
{% set type='BDF' %}
{% set vehicle_type='Container' %}
