{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Führungs- und Kommunikationskraftwagen' %}
{% set name='FüKomKW' %}
{% set vehicle_type='Kfz' %}
