{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Gabelstapler 2 t' %}
{% set name='Stapler' %}
{% set type='2 t' %}
{% set vehicle_type='Kfz' %}
