{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Gerätekraftwagen II' %}
{% set name='GKW II' %}
{% set vehicle_type='Kfz, gl' %}
