{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='LKW mit Ladekran (nicht geländegängig)' %}
{% set name='LKW-Lkr' %}
{% set vehicle_type='Kfz' %}
