{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='LKW mit Ladekran' %}
{% set name='LKW-Lkr' %}
{% set vehicle_type='Kfz, gl' %}
