{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='LKW Kipper mit Ladekran 1,5t' %}
{% set name='LKW-K' %}
{% set type='Lkr 1,5 t' %}
{% set vehicle_type='Kfz' %}
