{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='LKW Kipper mit Ladekran' %}
{% set name='LKW-K' %}
{% set type='Lkr' %}
{% set vehicle_type='Kfz' %}
