{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='LKW mit Ladebordwand 7 t' %}
{% set name='LKW-Lbw' %}
{% set type='7 t' %}
{% set vehicle_type='Kfz' %}
