{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='LKW Kipper 9t' %}
{% set name='LKW-K' %}
{% set type='9 t' %}
{% set vehicle_type='Kfz' %}
