{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Mannschaftslastwagen V (nicht geländegängig)' %}
{% set name='MLW V' %}
{% set vehicle_type='Kfz' %}
