{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Mannschaftslastwagen V' %}
{% set name='MLW V' %}
{% set vehicle_type='Kfz, gl' %}
