{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Mannschaftslastwagen III' %}
{% set name='MLW III' %}
{% set vehicle_type='Kfz, gl' %}
