{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Mannschaftstransportwagen Technischer Zug' %}
{% set name='MTW-TZ' %}
{% set vehicle_type='Kfz' %}
