{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Mannschaftstransportwagen Fachgruppe' %}
{% set name='MTW FGr' %}
{% set vehicle_type='Kfz' %}
