{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Mehrzweckgerätewagen' %}
{% set name='MzGW' %}
{% set vehicle_type='Kfz, gl' %}
