{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Radbagger' %}
{% set name='Bagger' %}
{% set vehicle_type='Kfz, gl' %}
