{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Sattelzugmaschine' %}
{% set name='SZM' %}
{% set vehicle_type='Kfz' %}
