{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Teleskoplader' %}
{% set name='Telelader' %}
{% set type='2 t' %}
{% set vehicle_type='Kfz' %}
