{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import theme, thin_extras, organisation with context %}

{% set title='Fahrzeug für Technische Hilfe auf Verkehrswegen' %}
{% set name='THV' %}
{% set vehicle_type='Kfz' %}
