{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Wechselladerfahrzeug (nicht geländegängig)' %}
{% set name='WLF' %}
{% set vehicle_type='WLF' %}
