{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Teil Einsatznachsorgeteam' %}
{% set name='ENT' %}
{% set type='VerbFLgr' %}
