{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Fachgruppe Verband Feldlager Führung/Kommunikation' %}
{% set name='FK' %}
{% set type='VerbFLgr' %}
{% set unit_size='Gruppe' %}
{% set is_leading=true %}
