{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Fachzug Verband Logistik Logistik-Verpflegung' %}
{% set name='Log-V' %}
{% set type='VerbLog' %}
{% set unit_size='Zug' %}
{% set is_logistics=true %}
