{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachzug Verband Feldlager Feldlager Betrieb' %}
{% set name='FLgr' %}
{% set type='VerbFLgr' %}
{% set subtext='Betrieb' %}
{% set unit_size='Zug' %}
