{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Fachzug Verband Feldlager Feldlager Infrastruktur' %}
{% set name='FLgr' %}
{% set type='VerbFLgr' %}
{% set subtext='Infra' %}
{% set unit_size='Zug' %}
