{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Führungstrupp Verband Logistik Logistik-Verbrauchsgüter' %}
{% set name='Log-VG' %}
{% set type='VerbLog' %}
{% set unit_size='Trupp' %}
{% set is_leading=true %}
