{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Führungstrupp Verband Logistik Fachzug Logistik-Verpflegung' %}
{% set name='Log-V' %}
{% set type='VerbLog' %}
{% set unit_size='Trupp' %}
{% set is_leading=true %}
