{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Gruppe Verband Logistik Logistik-Verpflegung Unterstützung' %}
{% set name='Log-V' %}
{% set type='VerbLog' %}
{% set subtext='Unterstützung' %}
{% set unit_size='Gruppe' %}
{% set is_logistics=true %}
