{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Gruppe Verband Logistik Unterstützung' %}
{% set name='Ustg' %}
{% set type='VerbLog' %}
{% set unit_size='Gruppe' %}
{% set is_logistics=true %}
