{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Gruppe Verband Feldlager Feldlager Elektroversorgung' %}
{% set name='E' %}
{% set type='VerbFLgr' %}
{% set unit_size='Gruppe' %}
