{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Gruppe Verband Feldlager Feldlager Wache' %}
{% set name='FLgr' %}
{% set type='VerbFLgr' %}
{% set subtext='Wache' %}
{% set unit_size='Gruppe' %}
