{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Stab Verband Logistik' %}
{% set name='Stab' %}
{% set type='VerbLog' %}
{% set is_leading=true %}
