{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Trupp Verband Feldlager Feldlager Belegung' %}
{% set name='FLgr' %}
{% set type='VerbFLgr' %}
{% set subtext='Belegung' %}
{% set unit_size='Trupp' %}
