{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Trupp Verband Logistik Logistik-Verpflegung Zubereitung' %}
{% set name='Log-V' %}
{% set type='VerbLog' %}
{% set subtext='Zubereitung' %}
{% set unit_size='Trupp' %}
{% set is_logistics=true %}
