{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Trupp Verband Feldlager Feldlager Material' %}
{% set name='Material' %}
{% set type='VerbFLgr' %}
{% set unit_size='Trupp' %}
