{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Trupp Verband Logistik Logistik-Materialerhaltung Abschub' %}
{% set name='Log-M' %}
{% set type='VerbLog' %}
{% set subtext='Abschub' %}
{% set unit_size='Trupp' %}
{% set is_logistics=true %}
