{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Trupp Verband Feldlager Feldlager Infrastruktur Netz' %}
{% set name='I' %}
{% set type='VerbFLgr' %}
{% set subtext='Netz' %}
{% set unit_size='Trupp' %}
