{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Trupp Verband Logistik Logistik-Verbrauchsgüter Material' %}
{% set name='Log-VG' %}
{% set type='VerbLog' %}
{% set subtext='Material' %}
{% set unit_size='Trupp' %}
{% set is_logistics=true %}
