{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title='Trupp Verband Logistik Infrastruktur' %}
{% set name='I' %}
{% set type='VerbLog' %}
{% set unit_size='Trupp' %}
