{% extends "templates/einheit.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title='Trupp Verband Logistik Transport' %}
{% set name='Transport' %}
{% set type='VerbLog' %}
{% set unit_size='Trupp' %}
