{% extends "templates/stelle.j2t" %}
{% from "templates/constants/führung.j2t" import scheme with context %}
{% from "templates/constants/thw.j2t" import organisation %}

{% set title='Versorgungsstelle Verbrauchsgüter' %}
{% set name='Log-VG' %}
{% set is_logistics=true %}
