{% extends "templates/stelle.j2t" %}
{% from "templates/constants/führung.j2t" import scheme with context %}
{% from "templates/constants/thw.j2t" import organisation %}

{% set title='Versorgungsstelle Verpflegung' %}
{% set name='Log-V' %}
{% set is_logistics=true %}
