{% extends "templates/stelle.j2t" %}
{% from "templates/constants/führung.j2t" import theme with context %}
{% from "templates/constants/thw.j2t" import organisation %}

{% set title='Versorgungsstelle Materialerhaltung' %}
{% set name='Log-M' %}
{% set is_logistics=true %}
