{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import scheme, organisation with context %}

{% set title='Drehleiter mit Korb' %}
{% set name='DLK' %}
{% set vehicle_type='Kfz' %}

{% block symbol %}
	{{ super() }}

	<path d="M10,64 L10,192 L246,192 L246,64 Q128,100 10,64 Z" fill="none" stroke-width="1" stroke="#000000" />
{% endblock %}
