{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import scheme, thin_extras, organisation with context %}

{% set title='ELW 1' %}
{% set name='ELW 1' %}
{% set vehicle_type='Kfz' %}
