{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import theme, thin_extras, organisation with context %}

{% set title='ELW 2' %}
{% set name='ELW 2' %}
{% set vehicle_type='Kfz' %}
