{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import scheme, thin_extras, organisation with context %}

{% set title='Gerätewagen Logistik 2' %}
{% set name='GW-L2' %}
{% set vehicle_type='Kfz, gl' %}
