{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import theme, thin_extras, organisation with context %}

{% set title='Gerätewagen Atemschutz' %}
{% set name='GW-A' %}
{% set vehicle_type='Kfz, gl' %}
