{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import scheme, organisation with context %}

{% set title='Kraftfahrzeug geländegängig' %}
{% set vehicle_type='Kfz, gl' %}
