{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import scheme, organisation with context %}

{% set title='Reaktorerkundungskraftwagen' %}
{% set name='ReakErkKw' %}
{% set vehicle_type='Kfz' %}
