{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import theme, thin_extras, organisation with context %}

{% set title='Wechselladerfahrzeug' %}
{% set name='WLF' %}
{% set vehicle_type='WLF, gl' %}
