{% extends "templates/führungsstelle.j2t" %}
{% from "templates/constants/thw.j2t" import scheme, organisation with context %}

{% set title="Führungsstelle Fachzug Logistik" %}
{% set name="FZ Log" %}
{% set unit_size="Zug" %}
