{% extends "templates/führungsstelle.j2t" %}
{% from "templates/constants/thw.j2t" import theme, organisation with context %}

{% set title="Führungsstelle Feldlager Betrieb" %}
{% set name="Betrieb" %}
