{% extends "templates/führungsstelle.j2t" %}
{% from "templates/constants/führung.j2t" import scheme with context %}
{% from "templates/constants/thw.j2t" import organisation %}

{% set title="Führungsstelle Logistikstützpunkt" %}
{% set name="LogSP" %}
