{% extends "templates/führungsstelle.j2t" %}
{% from "templates/constants/führung.j2t" import theme with context %}
{% from "templates/constants/thw.j2t" import organisation %}

{% set title="Führungsstelle Versorgung Verpflegung" %}
{% set name="VerSt V" %}
