:root {
	font-family: 'BundesSans', 'Noto Sans', Calibri, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

@font-face {
	font-family: 'BundesSans';
	font-weight: bold;

	src: local('BundesSans-Bold'), local('BundesSans');
}

@font-face {
	font-family: 'Noto Sans';
	font-weight: bold;

	src: local('NotoSans-Bold'), local('NotoSans'), local('Noto Sans');
}
