{% extends "templates/gefahr.j2t" %}

{% set title='Akute Gefahr durch elektrischen Strom' %}
{% set is_acute=true %}

{% block symbol %}
	{{ super() }}
	
	<path d="M118,80 l0,40 l20,-20 l0,50 m-10,-10 l10,10 l 10,-10" stroke-width="5" stroke="#FF0000" fill="none" />
{% endblock %}
