{% extends "templates/maßnahme.j2t" %}

{% set title='Deichverteidigung' %}
{% set keywords=['Deichverteidigung','Abwehr von Wassergefahren','Wasser','Wellen','Deich'] %}

{% block symbol %}
	{{ super() }}

	<path d="M105,180 l20,0 l10,-45 l20,0 l5,20 l10,0" stroke-width="3" stroke="{{ c.primary }}" fill="none" />
	<path d="M90,150 a4,4 180 0 0 4,-4 a4,4 180 1 1 8,0 a4,4 180 1 0 8,0 a4,4 180 1 1 8,0 a4,4 180 0 0 4,4" stroke="{{ c.primary }}" stroke-width="3" fill="none" />
	<path d="M90,160 a4,4 180 0 0 4,-4 a4,4 180 1 1 8,0 a4,4 180 1 0 8,0 a4,4 180 1 1 8,0 a4,4 180 0 0 4,4" stroke="{{ c.primary }}" stroke-width="3" fill="none" />
	<path d="M90,170 a4,4 180 0 0 4,-4 a4,4 180 1 1 8,0 a4,4 180 1 0 8,0 a4,4 180 1 1 8,0 a4,4 180 0 0 4,4" stroke="{{ c.primary }}" stroke-width="3" fill="none" />
{% endblock %}
