{% extends "templates/maßnahme.j2t" %}

{% set title='Dekontaminieren' %}
{% set keywords=['Dekontamination','Dekontaminieren'] %}

{% block symbol %}
	{{ super() }}

	<path d="M104,128 l50,50 M152,128 l-50,50" stroke-width="8" stroke="{{ c.primary }}" fill="none" />
	<path d="M108,182 L98,182 L98,172 Z" fill="{{ c.primary }}" />
	<path d="M148,182 L158,182 L158,172 Z" fill="{{ c.primary }}" />
	<ellipse cx="104" cy="134" rx="10" ry="10" fill="{{ c.primary }}" />
	<ellipse cx="152" cy="134" rx="10" ry="10" fill="{{ c.primary }}" />
{% endblock %}
