{% extends "templates/person.j2t" %}
{% from "templates/constants/führung.j2t" import theme with context %}

{% set title='Einsatzleiter Rettungsdienst' %}
{% set name='ELRD' %}
{% set is_leader=true %}
