{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/kats.j2t" import scheme with context %}

{% set title='Personenkraftwagen (geländegängig)' %}
{% set name='PKW' %}
{% set vehicle_type='Kfz, gl' %}
