{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/kats.j2t" import scheme with context %}

{% set title='Wechselladerfahrzeug (geländegängig)' %}
{% set name='WLF' %}
{% set vehicle_type='WLF, gl' %}
