{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/bundeswehr.j2t" import theme, thin_extras, organisation with context %}

{% set title='Kettenfahrzeug' %}
{% set vehicle_type='Kette' %}
