{% extends "templates/person.j2t" %}
{% from "templates/constants/thw.j2t" import theme with context %}

{% set title='Gruppenführer Logistik-Materialwirtschaft' %}
{% set name='Log-MW' %}
{% set unit_size='Gruppe' %}
{% set is_leader=true %}
