{% extends "templates/person.j2t" %}
{% from "templates/constants/thw.j2t" import scheme with context %}

{% set title='Gruppenführer Beleuchtung' %}
{% set name='Bel' %}
{% set unit_size='Gruppe' %}
{% set is_leader=true %}
