{% extends "templates/person.j2t" %}
{% from "templates/constants/thw.j2t" import theme with context %}

{% set title='Leiter VOST' %}
{% set name='VOST' %}
{% set unit_size='Zug' %}
{% set is_leader=true %}
