{% extends "templates/person.j2t" %}
{% from "templates/constants/thw.j2t" import theme with context %}

{% set title='Truppführer Logistik-Verbrauchsgüterversorgung' %}
{% set name='Log-VG' %}
{% set unit_size='Trupp' %}
{% set is_leader=true %}
