{% extends "templates/person.j2t" %}
{% from "templates/constants/thw.j2t" import scheme with context %}

{% set title='Truppführer Wasserschaden-Pumpen' %}
{% set name='WP' %}
{% set unit_size='Trupp' %}
{% set is_leader=true %}
