{% extends "templates/person.j2t" %}
{% from "templates/constants/thw.j2t" import theme with context %}

{% set title='Truppführer Brückenbau' %}
{% set name='BrB' %}
{% set unit_size='Trupp' %}
{% set is_leader=true %}
