{% extends "templates/person.j2t" %}
{% from "templates/constants/thw.j2t" import scheme with context %}

{% set title='Truppführer Trinkwasserversorgung' %}
{% set name='TW' %}
{% set unit_size='Trupp' %}
{% set is_leader=true %}
