{% extends "templates/person.j2t" %}
{% from "templates/constants/thw.j2t" import theme with context %}

{% set title='Zugtruppführer Technischer Zug' %}
{% set name='TZ' %}
{% set unit_size='Zugtrupp' %}
{% set is_leader=true %}
