{% extends "templates/gerät.j2t" %}

{% set title='Faxgerät' %}
{% set name='Fax' %}

{% block symbol %}
	{{ super() }}

	<path d="M80,76 l32,0 l0,16 l32,0 l0,-16 l32,0" stroke-width="5" stroke="#000000" fill="none" />
{% endblock %}
