{% extends "templates/gerät.j2t" %}

{% set title='Fernsprechvermittlung Wählbetrieb' %}
{% set name='C' %}

{% block symbol %}
	{{ super() }}

	<path d="M80,84 l96,0" stroke-width="5" stroke="#000000" fill="none" />
	<text style="font-size: 32px; text-anchor: middle;" fill="#000000" x="128" y="180">W</text>
{% endblock %}
