{% extends "templates/gerät.j2t" %}

{% set title='Fernsprechvermittlung' %}
{% set name='C' %}

{% block symbol %}
	{{ super() }}

	<path d="M80,84 l96,0" stroke-width="5" stroke="#000000" fill="none" />
{% endblock %}
