{% extends "templates/gerät.j2t" %}

{% set title='Firewall' %}

{% block symbol %}
	{{ super() }}

	<path d="M104,64 l0,32" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M152,64 l0,32" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M64,96 l128,0" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M80,96 l0,32" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M128,96 l0,32" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M176,96 l0,32" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M64,128 l128,0" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M104,128 l0,32" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M152,128 l0,32" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M64,160 l128,0" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M80,160 l0,32" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M128,160 l0,32" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M176,160 l0,32" stroke-width="5" stroke="#000000" fill="none" />
{% endblock %}
