{% extends "templates/gerät.j2t" %}

{% set title='Funkstation' %}

{% block symbol %}
	{{ super() }}

	<path d="M128,74 l0,70 l0,-40 l-30,-30 l30,30 l30,-30" stroke-width="5" stroke="#000000" fill="none" />
{% endblock %}
