{% extends "templates/gerät.j2t" %}

{% set title='Hub' %}

{% block symbol %}
	{{ super() }}

	<path d="M88,96 l80,0" stroke-width="8" stroke="#000000" fill="none" />
	<path d="M88,96 l0,-16 l-16,16 l16,16 Z" fill="#000000" />
	<path d="M168,96 l0,-16 l16,16 l-16,16 Z" fill="#000000" />
	<path d="M72,160 l12,0" stroke-width="12" stroke="#000000" fill="none" />
	<path d="M92,160 l12,0" stroke-width="12" stroke="#000000" fill="none" />
	<path d="M112,160 l12,0" stroke-width="12" stroke="#000000" fill="none" />
	<path d="M132,160 l12,0" stroke-width="12" stroke="#000000" fill="none" />
	<path d="M152,160 l12,0" stroke-width="12" stroke="#000000" fill="none" />
	<path d="M172,160 l12,0" stroke-width="12" stroke="#000000" fill="none" />
{% endblock %}
