{% extends "templates/gerät.j2t" %}

{% set title='Kofferfunkgerät digital' %}
{% set name='MRT-K' %}

{% block symbol %}
	{{ super() }}

	<path d="M80,74 l96,0" stroke-width="5" stroke="#000000" fill="none" />
	<path d="M80,84 l16,16 l16,-16 l16,16 l16,-16 l16,16 l16,-16" stroke="#000000" stroke-width="5" fill="none" />
{% endblock %}
