{% extends "templates/gerät.j2t" %}

{% set title='Server' %}

{% block symbol %}
	{{ super() }}

	<path d="M74,84 l48,0" stroke-width="16" stroke="#000000" fill="none" />
	<path d="M74,114 l48,0" stroke-width="16" stroke="#000000" fill="none" />
	<path d="M74,142 l48,0" stroke-width="16" stroke="#000000" fill="none" />
	<path d="M74,172 l48,0" stroke-width="16" stroke="#000000" fill="none" />
	<path d="M130,76 l0,104 l52,-52 Z" fill="#000000" />
{% endblock %}
