{% extends "templates/gerät.j2t" %}

{% set title='Switch' %}

{% block symbol %}
	{{ super() }}

	<path d="M88,88 l48,0" stroke-width="8" stroke="#000000" fill="none" />
	<path d="M88,88 l0,-16 l-16,16 l16,16 Z" fill="#000000" />
	<path d="M168,116 l-48,0" stroke-width="8" stroke="#000000" fill="none" />
	<path d="M168,116 l0,-16 l16,16 l-16,16 Z" fill="#000000" />
	<path d="M88,140 l48,0" stroke-width="8" stroke="#000000" fill="none" />
	<path d="M88,140 l0,-16 l-16,16 l16,16 Z" fill="#000000" />
	<path d="M168,168 l-48,0" stroke-width="8" stroke="#000000" fill="none" />
	<path d="M168,168 l0,-16 l16,16 l-16,16 Z" fill="#000000" />
{% endblock %}
