{% extends "templates/gerät.j2t" %}

{% set title='Verteiler' %}

{% block symbol %}
	{{ super() }}

	<path d="M84,84 l44,44 l44,-44 l-44,44 l0,44" stroke="#000000" stroke-width="15" fill="none" />
{% endblock %}
