{% extends "templates/gerät.j2t" %}

{% set title='Übertrager' %}

{% block symbol %}
	{{ super() }}

	<path d="M74,74 l49,0 l0,108 l-49,0 l0,-5 l24,0 l0,-98 l-24,0 Z" fill="#000000" />
	<path d="M182,74 l-49,0 l0,108 l49,0 l0,-5 l-24,0 l0,-98 l24,0 Z" fill="#000000" />
{% endblock %}
