{% extends "templates/einheit.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import scheme, organisation with context %}

{% set title='Führungsgruppe technische Einsatzleitung' %}
{% set name='TEL' %}
{% set unit_size='Gruppe' %}
{% set is_leading=true %}
