{% extends "templates/einheit.j2t" %}
{% from "templates/constants/feuerwehr.j2t" import theme, organisation with context %}

{% set title='Führungsgruppe Feuerwehrbereitschaft' %}
{% set name='Ber' %}
{% set unit_size='Gruppe' %}
{% set is_leading=true %}
