{% extends "templates/fahrzeug.j2t" %}
{% from "templates/constants/kats.j2t" import theme with context %}

{% set title='Abrollbehälter Dekontamination Verletzte' %}
{% set name='Dekon-V' %}
{% set vehicle_type='AB' %}
